
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body, p, td
{
	font-family: 'Open Sans', Verdana, Arial, Helvetica, Georgia, sans-serif;
	font-size: 16px;
	line-height: 27px;
	margin: 0px;
}

.header {
	margin: 30px 30px 0px 30px;
	padding: 10px 30px 10px 30px;
}

/*-------------------------------*/

.media_file_page_right
{
	text-align: left;
	vertical-align: top;
	padding-left: 30px;
	padding-right: 30px;
}

a.media_thumb_link
{
	position: relative;
}

span.comments_insight
{
	position:absolute;
	bottom: 5px;
	left: 5px;
	background: rgba(255,255,255,0.3);
	margin: 10px;
	padding: 5px;
	color: black;
	line-height: 15px;
	font-size: 10px;
}

a.media_thumb_link:hover span.comments_insight
{
	background: rgba(255,255,255,0.9);
}

.comment_box
{
	border-bottom: 1px solid #aaaaaa;
	/*background-color: #efefef;*/
	padding: 10px;
}

textarea
{
	border: 1px solid #aaaaaa;
}

/*-------------------------------*/

.connection_log
{
	/*overflow:scroll;
	height: 200px;*/
	padding: 15px;
	margin: 15px;
	background-color: #dddddd;
}

.connection_log table
{
	border-collapse: collapse;
}
.connection_log td
{
	padding: 10px;
	border: 1px solid white;
}

.admin_success_failure_box
{
	position: fixed;
	left: 100px;
	top: 30px;
	width: 600px;
	height: 50px;
	padding: 15px;
	background:rgba(255,255,255,0.8);
	border: 1px solid black;
}

.admin_box
{
	margin-bottom: 30px;
	border: 15px solid #bbbbbb;
	padding: 30px;
}

.body_contents {
	padding: 30px;
}

.new_day {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding: 15px;
	margin: 15px;
	background-color: #dddddd;
}

.media_page {
	padding: 15px;
	margin: 15px;
	background-color: #dddddd;
	/*padding: 30px;*/
}

.group h2 {
	/*border-top: 1px solid #aaaaaa;*/
	padding: 15px;
	margin: 15px;
	margin-top: 50px;
}

.group table{
	display: none;
}

.group:hover table{
	display: block;
}

.admin_grey_box {
	padding: 15px;
	margin: 15px;
	background-color: #dddddd;
}

.alb_insight {
	word-wrap: break-word;
	width: 100%;
	/*position: relative;*/
	padding: 15px;
	margin: 15px;
	background-color: #dddddd;
}

.alb_insight h3 span.normal {
	/*background: rgba(0, 0, 0, 0.7);
	padding: 10px;
	line-height: 50px;*/
}

.alb_insight h3 span.admin {
	/*background: rgba(128, 0, 0, 0.7);
	padding: 10px;
	line-height: 50px;*/
}

a .insight_video {
	border: 1px solid grey;
}

a:hover .insight_video {
}

/*-------------------------------*/

a{text-decoration: none;background-color: inherit;color: #909090;}
a.inheritant {background-color: inherit;color: inherit;}

.alb_insight a { color: black; }
/*-------------------------------*/

.fullscreen_overlay { 
	position: fixed;left: 0px;top:0px;width:100%;height:100%;
	background:rgba(0, 0, 0, 0.8);color:white;
	text-align: center;
}
